{% extends 'base.html' %}
{% block title %}
    Panel de Administración
{% endblock title %}

{% block content %}
<div class="container" style="padding-top: 3rem;">
    <div class="row">
        <div class="col-12" style="text-align: center;">
            <h1> Panel de Administración de Secretaría Académica</h1>
        </div>
    </div>
    <div class="row" style="padding-top: 3rem;">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Carreras</h5>
                    <p class="card-text">Herramienta para crear, editar o eliminar Carreras dentro de la plataforma.</p>
                    <a href="{% url 'carrera-lista-sec' %}" class="btn btn-primary">Carreras</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ramos</h5>
                    <p class="card-text">Herramienta para crear, editar o eliminar Ramos dentro de la plataforma.</p>
                    <a href="{% url 'ramo-lista-sec' %}" class="btn btn-primary">Ramos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 3rem;">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">NRCs</h5>
                    <p class="card-text">Herramienta para crear, editar o eliminar NRCs dentro de la plataforma</p>
                    <a href="{% url 'nrc-lista-sec' %}" class="btn btn-primary">NRCs</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profesores</h5>
                    <p class="card-text">Herramienta para crear, editar o eliminar Profesores dentro de la plataforma</p>
                    <a href="{% url 'prof-lista-sec' %}" class="btn btn-primary">Profesores</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    